<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.b43ee090508be17cf540865d2ad6bd98.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.3e73399d512eee0d2e4e.js"></script>
<script type="text/javascript" src="/js/app.d2d5a4b4d86479fcb380.js"></script>

</body>
</html>