<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.9963da4dff39644d37228c7f018168e1.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.50236653b5b4b0d5db1f.js"></script>
<script type="text/javascript" src="/js/app.813116cc97bd63646eff.js"></script>

</body>
</html>