<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title th:text="${htmlTitle}"></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/css/app.3993981652223fae7cdf79e6b8b1f76a.css" rel="stylesheet" />
</head>
<body>
<div id="app"></div>

<script th:if="${isLogin}">
    window.initState={
        isLogin:true
    }
</script>
<script th:if="${!isLogin}">
    window.initState={
        isLogin:false
    }
</script>
<script type="text/javascript" src="/js/manifest.c480e5d9d80b631cd4d3.js"></script>
<script type="text/javascript" src="/js/app.da8b9e115a2ea72fb11e.js"></script>

</body>
</html>